<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=127.0.0.1;Initial Catalog=aspnet03797zdzxdxtmcqxt;Max Pool Size=1000;Packet Size=8192;Persist Security Info=True;User ID=sa;Password=sa123456" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
      <pages validateRequest="false" />
      <compilation debug="true" targetFramework="4.0" />
      <httpRuntime maxRequestLength="20480" requestValidationMode="2.0" />
      <globalization requestEncoding="utf-8" fileEncoding="utf-8"  responseEncoding="utf-8" />
    </system.web>
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true" />
      <security>
          <requestFiltering>
            <requestLimits maxAllowedContentLength="20971520"/>
          </requestFiltering>
      </security>
    </system.webServer>
</configuration>